@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background: rgb(220,220,237);
    background: linear-gradient(180deg, rgba(220,220,237,1) 0%, rgba(231,177,229,1) 60%, rgba(228,151,151,1) 100%); */
    background: rgb(241,240,249);
    background: linear-gradient(152deg, rgba(241,240,249,1) 10%, rgba(175,136,228,0.9248074229691877) 100%);
    background-attachment: fixed;
}
/* .glob {
    width: 100%;
    height: 100%;
    font-family: 'Noto Serif Display', serif;
} */
.header {
    width: 100%;
    height: 100%;
    font-family: 'Noto Serif Display', serif;
}
.header > h1 {
    text-align: center;
    font-size: 30px;
}
.header > p {
    text-align: center;
    font-size: 25px;
}
.box_job {
    width: 70%;
    height: 500px;
    margin-top: 15px;
    /* background: rgb(198,99,198);
    background: radial-gradient(circle, rgba(196,125,196,0.7819502801120448) 10%, rgba(212,208,238,1) 100%); */
    background: rgb(196,125,196);
    background: linear-gradient(114deg, rgba(196,125,196,0.9640231092436975) 10%, rgba(241,240,249,1) 100%);
    border-radius: 25px;
}
.box_job2 {
    width: 70%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background: rgb(238,208,238);
    background: radial-gradient(circle, rgba(238,208,238,0.82) 13%, rgba(200,133,200,0.72) 94%); */
    background: rgb(196,125,196);
    background: linear-gradient(114deg, rgba(196,125,196,0.9640231092436975) 10%, rgba(241,240,249,1) 100%);
    border-radius: 25px;
}
.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box_job > h1 {
    margin-left: 10px;
}
.box_job2 > h1 {
    margin-left: 10px;
}
.box .conteiner_job {
    width: 250px;
    height: 100px;
    background-color: rgb(241,240,249);
    margin: 20px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.box2 .conteiner_job2 {
    width: 250px;
    height: 100px;
    background-color: rgb(241,240,249);
    margin: 20px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.box_inner {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box_inner a {
    font-size: 25px;
    text-decoration: none;
    color:  rgb(86,22,111);
    border-bottom: 1px solid rgb(86,22,111);
}
input::before{
    content:"";
    width: 50px;
    height: 50px;
    /* background-color: lightpink; */
    background: url(./img/кнопкакосмос.gif);
    position: fixed;
    top: 15px;
    right: 0;
    left: 93%;
    bottom: 0;
    border-radius: 100%;
    background-size: cover;
}
input {
    position: absolute;
    top: -100px;
}
input:checked + .glob  {
    background: rgb(69,69,69);
    background: linear-gradient(180deg, rgba(69,69,69,1) 0%, rgba(87,35,83,1) 60%, rgba(77,16,72,1) 100%);
    background-size: 100%;
    background-attachment: fixed;
}
input:checked + .glob .header h1 {
    color: white;
}
input:checked + .glob .header p {
    color: white;
}
input:checked + .glob .header .box_job .box .conteiner_job {
    background-color: rgb(141, 92, 159);
}
input:checked + .glob .header .box_job {
    background: rgb(77,16,72);
    background: linear-gradient(130deg, rgba(77,16,72,1) 0%, rgb(91, 40, 143) 100%);
}
input:checked + .glob .header .box_job2 .box2 .conteiner_job2 {
    background-color: rgb(141, 92, 159);
}
input:checked + .glob .header .box_job2 {
    background: rgb(77,16,72);
    background: linear-gradient(130deg, rgba(77,16,72,1) 0%, rgb(91, 40, 143) 100%);
}
input:checked + .glob .header .box_job2 .box2 .conteiner_job2 h3{
    color: white;
}
input:checked + .glob .header .box_job .box .conteiner_job h3{
    color: white;
}
@media screen and (max-width:1030px){
    .box_job {
        width: 100%;
        height: 50%;
    }
    .box_job2 {
        width: 100%;
        height: 50%;
    }
    .box {
        width:100%;
    }
    .box2 {
        width:100%;
    }
}